.banner {
  max-height: 25rem;
  width: 100%;
  object-fit: cover;
}

.post {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.65rem;
    color: var(--heading);
    margin-top: 5rem;
  }

  .info {
    display: flex;
    align-content: flex-start;

    margin-top: 1.5rem;
    font-size: 1.125rem;
    color: var(--info);

    div + div {
      margin-left: 1.5rem;
    }

    & > * {
      display: flex;
    }
  }

  .content {
    max-width: 720px;
    margin: 4rem auto 0;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.575rem;
      color: var(--heading);
    }

    .paragraphs {
      margin: 3rem 0;

      p {
        line-height: 1.575rem;
        margin: 1rem 0;
      }
    }
  }
}
